<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="">
	<meta name="description"
		content="">
</head>
<body>
	<div hight="100px">
		${errors.fieldErrorCount}
		<@spring.message "validator.message.notNull"/> 
		<spring:message code="${validator.message.notNull}"/>
		<c:forEach items="${errors.fieldErrors}" var="error">  
            <spring:message var="message" code="${error.code}" arguments="${error.arguments}" text="${error.defaultMessage}"/>  
            ${error.field}------${message}<br/>  
        </c:forEach>   
	</div>
	<inupt type="text" name="name"/>
	<inupt type="text" name="pwd"/>
</body>
</html>
